<!--The content below is only a placeholder and can be replaced.-->
<div id="fullPage">
  <app-header></app-header>

  <!--
    <nav>
    <a routerLink="/body" routerLinkActive="active">Body</a> <br>
    <a routerLink="/header" routerLinkActive="active">header</a><br>
    <a routerLink="/footer" routerLinkActive="active">footer</a><br>
    <a routerLink="/startgame" routerLinkActive="active">startgame</a><br>
    <a routerLink="/newgame" routerLinkActive="active">Newgame</a><br>
  </nav>
   -->

  <router-outlet></router-outlet>

  <app-footer></app-footer>

</div>